---
import { Hero } from "@modules/Hero";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { FadeIn } from "@utils/animations/FadeIn";
---

<Layout
    title="Contact Us | Setup & Smile - Houston Event Rentals"
    description="Get in touch with Setup & Smile for your Houston event rental needs. Let's discuss how we can make your event perfect."
>
    <main class="page-content">
        <Hero heroType="center" client:load>
            <FadeIn delay={0.2} client:load>
                <h1>Contact us</h1>
            </FadeIn>
        </Hero>
        <ContactModule client:load />
    </main>
</Layout>
